<div class="main_container">
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <%#<a class="pure-menu-heading" href="">VSA</a>%>
            <%= link_to 'Video Summerization App', root_path , :class => "pure-menu-heading" %>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><%= link_to 'Home', root_path , :class => "pure-menu-heading"  %></li>
                <li class="pure-menu-item"><%= link_to 'Videos', videos_path , :class => "pure-menu-heading" %></li>
                <li class="pure-menu-item"><%= link_to 'Action', root_path , :class => "pure-menu-heading" %></li>
            </ul>
        </div>
    </div>
</div>